.full_height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 2px rgba(255, 255, 255, 0.1) solid;
  @apply lg:mx-8;
}

.aboutCol {
  @apply lg:col-span-8;
}

.text_brand {
  color: var(--color-brand);
  font-size: 1.25rem; /* Larger text size for better emphasis */
}

.heading {
  font-size: 2.5rem; /* Larger text size for main heading */
  margin-top: 8px;
  margin-bottom: 16px;
}

.aboutMe {
  @apply p-6 rounded-[16px] mb-4;
}

.bg_base {
  background-color: var(--color-base);
  box-shadow: -1px 0px 6px 3px rgba(202, 189, 189, 0.75);
}

.shadow_effect {
  transition: all 0.5s;
}

.shadow_effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}

.tech_stack {
  list-style-type: none;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(2, minmax(15px, 0.2fr)); */
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  /* gap: 12px; */
}

.link_custom {
  font-weight: 700;
  position: relative;
}

.link_custom a {
  color: #4abba7;
}

.link_custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link_custom:hover::after {
  width: 100%;
}

.bullet {
  color: #4abba7;
  padding-right: 5px;
}

.description {
  font-size: 1.125rem; /* Larger text size for better readability */
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* Experience */

.exp {
  @apply lg:col-span-12;
}

.exp h3 {
  @apply mb-4;
  font-size: 2rem; /* Larger text size for section heading */
}

.aboutExp {
  @apply p-6 rounded-[16px] mb-4;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Add flex-grow to the ul to fill available space and push the bottom content to the end */
.aboutExp ul {
  flex-grow: 1;
}

.aboutExp:hover {
  transform: scale(1.02);
}

.aboutExp h4 {
  font-size: 1.5rem; /* Larger text size for job title */
  margin-bottom: 8px; /* Added margin for spacing */
}

.aboutExp span {
  @apply mb-2 ml-1;
  display: block;
  margin-bottom: 8px; /* Added margin for spacing */
}

.aboutExp p {
  font-size: 1rem; /* Consistent text size for description */
  line-height: 1.6;
}

.bulletList {
  list-style: none;
  padding-left: 0;
}

.bulletList li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  line-height: 1.6;
  color: var(--color-body);
}

.bulletList li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--color-brand);
  /* color: #4abba7; */
}

@media (min-width: 992px) {
  .tech_stack {
    grid-template-columns: repeat(2, minmax(15px, 0.2fr));
  }
}
