.footer {
  @apply flex gap-y-4 justify-between items-center;
}

.social_icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base);
  border-radius: 100px;
  font-size: 24px;
}
